{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Masterdata Checker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'assets/bammasterdata_blue_transparent.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    </head>
    <body class="bg-light">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="tab-content mt-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="checker-content" role="tabpanel" aria-labelledby="checker-tab">
                                    <h5 class="text-center">Masterdata Checker</h5>
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <input class="form-control" type="file" id="formFile" name="file" accept=".xls, .xlsx" required>
                                        </div>
                                        {% if file %}
                                        <div class="mt-2">
                                            Selected file: <strong>{{ file }}</strong>
                                        </div>
                                        {% endif %}
                                        <div class="d-flex justify-content-between">
                                            <button type="submit" name="upload" class="btn btn-primary">Check Masterdata</button>
                                            <a href="{% url 'homepage' %}" class="btn btn-secondary text-center"><i class="bi bi-arrow-clockwise"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if logs %}
                <div class="col-md-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="tab-content mt-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="checker-content" role="tabpanel" aria-labelledby="checker-tab">
                                    <div class="mt-4">
                                        <h5 class="text-center">Checker Logs</h5>
                                        <ul class="list-group">
                                            {% for log in logs %}
                                            <li class="list-group-item list-group-item-{{ log.level|default:"info" }}">
                                                <button
                                                class="btn btn-link d-flex align-items-center w-100 text-decoration-none gap-2"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#logCollapse{{ forloop.counter }}"
                                                aria-expanded="false"
                                                aria-controls="logCollapse{{ forloop.counter }}">

                                                    <svg class="bi bi-chevron-right transition-arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M6.646 12.854a.5.5 0 0 1 0-.708L10.293 8 6.646 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708 0z"/>
                                                    </svg>
                                                    <div class="collapse-menu-log-text">
                                                        <strong>[{% if log.level == "danger" %}ERROR{% else %}{{ log.level|upper }}{% endif %}]
                                                        </strong> {{ log.timestamp }}
                                                    </div>
                                                </button>
                                                <div class="collapse mt-2" id="logCollapse{{ forloop.counter }}">
                                                    <div>{{ log.event|linebreaksbr }}</div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif error %}
                <div class="col-md-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="tab-content mt-3" id="myTabContent">
                                <div class="tab-pane fade show active" id="checker-content" role="tabpanel" aria-labelledby="checker-tab">
                                    <div class="mt-4">
                                            <div class="alert alert-danger mt-3" role="alert">
                                                {{ error|linebreaks|safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <footer class="text-center py-3 mt-5 border-top">
        <small>&copy; MIT 2025, BAM Data Store - Masterdata Checker</small>
    </footer>
</html>
